*{
  box-sizing: border-box; /*respect the width of the box, apply padding or border within the width it's been given not in addition to it*/
  max-width:100%; /*Makes it so that elements can never be bigger than their parents, stops the horizontal scroll bar*/
  padding:0;
  margin:0;
}
body {
  height: 100vh;
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  border: 4px solid black;
}
