*{
  box-sizing: border-box; /*respect the width of the box, apply padding or border within the width it's been given not in addition to it*/
  max-width:100%; /*Makes it so that elements can never be bigger than their parents, stops the horizontal scroll bar*/
  padding:0;
  margin:0;
}
h1, h2, h3 {
  color: white
}
h1{
  font-size:5rem;
}
h2{
  font-size:3.5rem;
}
h3{
  font-size:2.5rem;
}
button{
  padding:3% 4%;
  font-size:1.8rem;
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  font-size:62.5%; /*default browser font-size is 16px, this makes it so that 1rem === 10px (easier math) it also gives the user control over bumping up or down the font size because % is a scalable unit of measurement*/
}
body {
  height: 100vh;
  font-size:1.8rem; /*setting the font size back to 18px*/
  line-height:1.5; /*no unit of measurement, it take the font size and multiplies it by this number to add space between lines*/
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('./images/pk-bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
}
